.card{
    background-color: red;
    color: white;
    height: 400px;
    width: 500px;
    padding: 20px;
    border-radius: 50px;
    margin: 40px;
    box-shadow: 5px 4px 4px greenyellow;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dark{
    background-color: black;
    color: white;
}