*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h1{
    color: red;
}

.navbar{
    display: flex;
    background-color: black;
    color: red;
    padding: 30px 20px;
    justify-content: space-between;
    align-items: center;
}

.menus{
    display: flex;
    gap: 40px;
}